*{
padding:0;
margin:0;
box-sizing:border-box;
}
body{
background-color:lightgray;
}
main{

display:flex;
width:50%;
margin:auto;
}
.sedan{
background-color:orange;
padding:2cm;
}
.suv{
background-color:blue;
padding:2cm;
}
.luxury{
background-color:green;
padding:2cm;
}
.heading {
color:white;
padding-bottom:30px;
}
button{
width:100px;
hight:60px;
}
p{
padding-bottom:50px;
}